<div class="navbar container-customize-admin">
    <div class="section-page-title">
        <div class="text-page-title">
            <div class="description-page">
                <h2 class="page-title">HappyDay</h2>
                <p class="">Dashboard</p>
            </div>
        </div>
    </div>
    <div class="section-notification">
        <ul class="ul-notification">
            <li class="list-localization dropdown">
                <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </li>
            <li class="list-localization dropdown">
                
            </li>
        </ul>
    </div>
</div>

